<template>
  <div>
    Dashboard
    <table id="fifthTable">
      <thead>
        <tr>
          <th v-for="col in columns" :key="col.name">
            {{ col.name }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="row in items" :key="row.date">
          <td v-for="col in columns" :key="col.name">{{ row[col.name] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { Getter, Mutation, Action } from "vuex-class";
import {users} from '../types'
import {
  Component,
  Emit,
  Inject,
  Prop,
  Vue,
  Watch,
} from "vue-property-decorator";
@Component
export default class dashBoard extends Vue {
  get label() {  // compute
    return this.$Store.getters['users'];
  }
    
//   items = [
//     { date: 40, fullname: "Dickerson", email: "Macdonald" },
//     { date: 21, fullname: "Larsen", lastemail_name: "Shaw" },
//     { date: 89, fullname: "Geneva", email: "Wilson" },
//     { date: 38, fullname: "Jami", email: "Carney" },
//   ];
 columns = [
    {
      name: "fullname",
    },
    {
      name: "email",
    },
    {
      name: "date",
    },
  ]
}
</script>
