<template>
  <form @submit.prevent="submitForm">
    <div class="form-control" :class="{ invalid: !fullName.isValid }">
      <h1 class="heading">Create an Account</h1>
      <label
        class="fullName"
        :class="{ invalid: !fullName.isValid }"
        for="fullName"
        >Full name</label
      >
      <input
        class="fullNameInput"
        type="text"
        id="fullName"
        v-model.trim="fullName.val"
        @blur="checkValidity('fullName')"
      />
      <p class="ErrorFullName" v-if="!fullName.isValid">
        Full name must not be empty.
      </p>
    </div>
    <div
      class="form-control"
      :class="{ invalid: !dateOfIncorporation.isValid }"
    >
      <label
        class="dateOfIncorporation"
        :class="{ invalid: !dateOfIncorporation.isValid }"
        for="dateOfIncorporation"
        >Date of Incorporation</label
      >
      <input
        class="dateOfIncorporationInput"
        type="date"
        id="dateOfIncorporation"
        v-model.trim="dateOfIncorporation.val"
        @blur="checkValidity('dateOfIncorporation')"
      />
      <p class="ErrorDate" v-if="!dateOfIncorporation.isValid">
        Date must not be empty.
      </p>
    </div>
    <div class="form-control" :class="{ invalid: !email.isValid }">
      <label class="email" :class="{ invalid: !email.isValid }" for="email"
        >email</label
      >
      <input
        class="emailInput"
        type="text"
        id="email"
        v-model.trim="email.val"
        @blur="checkValidity('email')"
      />
      <p class="ErrorEmail" v-if="!email.isValid">Invalid email.</p>
    </div>
    <div class="form-control" :class="{ invalid: !password.isValid }">
      <label
        class="password"
        :class="{ invalid: !password.isValid }"
        for="password"
        >password</label
      >
      <input
        class="passwordInput"
        type="password"
        id="password"
        v-model.trim="password.val"
        @blur="checkValidity('password')"
      />
      <p class="ErrorPassword" v-if="!password.isValid">
        Password should be at least 8 characters long, must contain at least 1
        number, 1 letter and 1 special character.
      </p>
    </div>
    <div class="form-control" :class="{ invalid: !conformPassword.isValid }">
      <label
        class="conformPassword"
        :class="{ invalid: !conformPassword.isValid }"
        for="conformPassword"
        >conform password</label
      >
      <input
        class="conformPasswordInput"
        type="password"
        id="conformPassword"
        v-model.trim="conformPassword.val"
        @blur="checkValidity('conformPassword')"
      />
      <p class="ErrorConformPassword" v-if="!conformPassword.isValid">
        Password not match.
      </p>
    </div>
    <!-- <base-button>Register</base-button> -->
    <button :disabled="!isValidForm" class="create">
      <p>Create an Account</p>
    </button>
    <p class="msg">
      Already have an account? <a href="www.google.com"> Login</a>
    </p>
  </form>
</template>

<script lang="ts">
import { Getter, Mutation, Action } from "vuex-class";
// import {Todo} from '../types'
import {
  Component,
  Emit,
  Inject,
  Prop,
  Vue,
  Watch,
} from "vue-property-decorator";

@Component
export default class HelloWorld extends Vue {
  // @State todos:Todo[]
  isValidForm = false;
  fullName = {
    val: "",
    isValid: true,
  };
  dateOfIncorporation = {
    val: "",
    isValid: true,
  };
  email = {
    val: "",
    isValid: true,
  };
  password = {
    val: "",
    isValid: true,
  };
  conformPassword = {
    val: "",
    isValid: true,
  };
  //rxweb
  //
  formIsValid = true;
  // @Prop() private msg!: string;
  checkValidity(input: string) {
    if (input == "password") {
      this.password.isValid = true;
      if (
        !/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9_])/.test(
          this.password.val
        )
      ) {
        this.password.isValid = false;
      }
    }
    if (input == "email") {
      this.email.isValid = true;
      if (
        !/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(
          this.email.val
        )
      ) {
        this.email.isValid = false;
      }
    }
    if (input == "fullName") {
      this.fullName.isValid = true;
      if (this.fullName.val == "") {
        this.fullName.isValid = false;
      }
    }
    if (input == "conformPassword") {
      this.conformPassword.isValid = true;
      if (this.conformPassword.val != this.password.val) {
        this.conformPassword.isValid = false;
      }
    }
    if (
      this.fullName.isValid &&
      this.email.isValid &&
      this.password.isValid &&
      this.conformPassword.isValid
    ) {
      this.isValidForm = true;
    }
  }
  submitForm() {
    const formData = {
      fullName: this.fullName.val,
      email: this.email.val,
      dateOfIncorporation: this.dateOfIncorporation.val,
      password: this.password.val,
    };

    //  this.$Store.dispatch('coaches/registerCoach', data);
    // @Action addTodoAsync
    this.$store.dispatch("addTodoAsync", formData);
  }
  // get label() {
  //   return "welcome";
  // }
  // @Watch("fullname") onPropertyChanged(value: string, oldValue: string) {
  //   // Do stuff with the watcher here.
  // }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.heading {
  position: absolute;
  width: 294px;
  height: 44px;
  left: 865px;
  top: 160px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  /* identical to box height */

  color: #1a1a1a;
}
.msg {
  position: absolute;
  width: 221px;
  height: 19px;
  left: 915px;
  top: 831px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;
  text-align: center;

  /* Gray 3 */

  color: #828282;
}
.create {
  position: absolute;
  width: 320px;
  height: 50px;
  left: 865px;
  top: 749px;

  background: #d90429;
  box-shadow: 0px 6px 28px 5px rgba(254, 45, 23, 0.3);
  border-radius: 12px;
}
.ButtonLabel {
  position: absolute;
  width: 166px;
  height: 25px;
  left: 942px;
  top: 763px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #080808;
}
.email {
  position: absolute;
  width: 39px;
  height: 19px;
  left: 865px;
  top: 438px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;

  color: #1a1a1a;
}
.password {
  position: absolute;
  width: 68px;
  height: 19px;
  left: 865px;
  top: 539px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;

  color: #1a1a1a;
}
.passwordInput {
  position: absolute;
  width: 320px;
  height: 50px;
  left: 865px;
  top: 566px;

  background: #e8e8e8;
  border-radius: 12px;
}
.conformPassword {
  position: absolute;
  width: 128px;
  height: 19px;
  left: 865px;
  top: 640px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;

  color: #1a1a1a;
}
.conformPasswordInput {
  position: absolute;
  width: 320px;
  height: 50px;
  left: 865px;
  top: 667px;

  background: #e8e8e8;
  border-radius: 12px;
}
.emailInput {
  position: absolute;
  width: 320px;
  height: 50px;
  left: 865px;
  top: 465px;

  background: #e8e8e8;
  border-radius: 12px;
}
.ErrorFullName {
  position: absolute;
  width: 252px;
  height: 19px;
  left: 865px;
  top: 308px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  /* line-height: 19px; */
  /* identical to box height */

  /* display: flex; */
  align-items: flex-end;

  color: #fd0606;
}
.ErrorEmail {
  position: absolute;
  width: 252px;
  height: 19px;
  left: 865px;
  top: 510px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  /* line-height: 19px; */
  /* identical to box height */

  /* display: flex; */
  align-items: flex-end;

  color: #fd0606;
}
.ErrorDate {
  position: absolute;
  width: 39px;
  height: 19px;
  left: 865px;
  top: 438px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  /* line-height: 19px; */
  /* identical to box height */

  /* display: flex; */
  align-items: flex-end;

  color: #fd0606;
}
.ErrorPassword {
  position: absolute;
  width: 452px;
  height: 19px;
  left: 865px;
  top: 610px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  /* line-height: 19px; */
  /* identical to box height */

  /* display: flex; */
  align-items: flex-end;

  color: #fd0606;
}
.ErrorConformPassword {
  position: absolute;
  width: 252px;
  height: 19px;
  left: 865px;
  top: 710px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  /* line-height: 19px; */
  /* identical to box height */

  /* display: flex; */
  align-items: flex-end;

  color: #fd0606;
}
.dateOfIncorporation {
  position: absolute;
  width: 152px;
  height: 19px;
  left: 865px;
  top: 337px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;

  color: #1a1a1a;
}
.fullName {
  position: absolute;
  width: 71px;
  height: 19px;
  left: 865px;
  top: 236px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;

  color: #1a1a1a;
}
.dateOfIncorporationInput {
  position: absolute;
  width: 320px;
  height: 50px;
  left: 865px;
  top: 364px;

  background: #e8e8e8;
  border-radius: 12px;
}
.fullNameInput {
  position: absolute;
  width: 320px;
  height: 50px;
  left: 865px;
  top: 263px;

  background: #e8e8e8;
  border-radius: 12px;
}
.invalid label {
  color: red;
}

.invalid input,
.invalid textarea {
  border: 1px solid red;
}
</style>
//use iterface
//use library
//vuex-module-decorators